antiorm==1.2.1
anytree==2.8.0
appdirs==1.4.4
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
Automat==20.2.0
backcall==0.2.0
bidict==0.21.2
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cmd2==1.3.11
colorama==0.4.4
columnize==0.3.10
constantly==15.1.0
crochet==1.12.0
cycler==0.10.0
db==0.1.1
db-sqlite3==0.0.1
decorator==4.4.2
deprecation==2.1.0
distlib==0.3.1
et-xmlfile==1.0.1
fido==4.2.2
filelock==3.0.12
Flask==1.1.2
greenlet==1.0.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jupyter-client==6.1.7
jupyter-core==4.7.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.4.1
mccabe==0.6.1
mincepy==0.15.22
modules==1.0.0
MouseInfo==0.1.3
multidict==5.1.0
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==2.0.3
networkx==2.5.1
numpy==1.20.2
oauthlib==3.1.1
openpyxl==3.0.7
packaging==20.9
pandas==1.2.4
parso==0.7.1
pbr==5.6.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.8
PyAutoGUI==0.9.52
pygame==2.0.0
PyGetWindow==0.0.9
Pygments==2.7.2
pylint==2.6.0
pymongo==3.11.3
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyos==0.7.14
pyparsing==2.4.7
pyperclip==1.8.2
pyprnt==2.5.3
pyreadline==2.1
PyRect==0.1.4
PyScreeze==0.1.27
PySocks==1.7.1
python-dateutil==2.8.1
pytray==0.3.1
PyTweening==1.0.3
pytz==2021.1
pywin32==300
pyzmq==20.0.0
requests==2.25.0
requests-oauthlib==1.3.0
selenium==3.141.0
six==1.15.0
SQLAlchemy==1.4.11
stevedore==3.3.0
tabulate==0.8.9
toml==0.10.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
tweepy==3.10.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
urllib3==1.26.2
virtualenv==20.2.2
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==2.0.1
yarl==1.6.3
yelp-bytes==0.3.0
yelp-encodings==0.1.3
zope.interface==5.4.0